
body {
	--color1: #ed6a5aff;
	--color2: #f4f1bbff;
	--color3: #9bc1bcff;
	--color4: #5d576bff;
	--color5: #e6ebe0ff;

	background-color: var(--color2);
}

img {
	width: 200px;
	height: 200px;
}

li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	border: 2px solid var(--color1);
	margin: 5px;
	background-color: var(--color4);;
}

h3 {
	font-size: 24px;
	color: var(--color5);
}

p {
	color: var(--color5);
}

ul {
	width: 1200px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

}
.data-Div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	margin: 10px;
}

#bottom {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#clearDiv {
	width: 500px;
	height: 400px;
	background-image: url("../assets/45634.png");
	background-size: 100% 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

h2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 28px;
}

button {
	width: 200px;
	height: 80px;
	font-size: 24px;
	margin-top: 100px;
	background-color: white;
	border: none;
	cursor: pointer;
}
