
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    --color1: #ed6a5aff;
	--color2: #f4f1bbff;
	--color3: #9bc1bcff;
	--color4: #5d576bff;
	--color5: #e6ebe0ff;

	background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

#pokemon-div {
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

label {
    display: flex;
    flex-direction: column;
}



content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }

.hidden {
    display: none
}

input {
    display: none;
}

.faded {
    opacity: .5; 
    cursor: not-allowed;
    border: 3px solid var(--color1);
    border-radius: 15px;
    opacity: .7;
}

input:hover +img {
    border: solid red 2px;
}